/* 
colors:   #ede7f6 #fff8e1, #f3e5f5,  #ccff90
 #f9fbe7 , #bbdefb , #76ff03,  #ffc107 , #6c5ef1, #fff8e1 

*/

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #ede7f6;
}

main {
	flex: 1 0 auto;
	margin: 0 10px;
}

main #search-section {
	margin-top: 10px;
	background-color: #f3e5f5;
}

main ul li#savedCity {
	font-size: 1.1rem;
	line-height: 2.3rem;
}

main ul li#savedCity:hover {
	background-color: #ccff90;
	cursor: pointer;
}

#main-display .current {
	margin: 10px;
	background-image: linear-gradient(to right, #f9fbe7, #bbdefb, #76ff03, #ffc107, #fff8e1);
	background-size: cover;
	padding-left: 2rem;
}

#main-display span#uv {
	padding: 5px 10px;
	font-size: large;
}

h5.forecast-title {
	margin: 0 8px;
}

.row .col.l5ths {
	width: 20%;
	margin: 0 auto;
}

.page-footer {
	height: 40px;
	padding-bottom: 20px;
	font-size: x-small;
}

/* Media Query for mobile size */

@media only screen and (max-width: 600px) {
	header a.brand-logo {
		font-size: 1.7rem;
		display: inline-block;
		width: 100%;
	}
	.row .col.l5ths {
		width: 50%;
	}

	.card #forecast {
		margin-left: 6px;
	}
}

/* Media query for large tablet size  */
@media only screen and (max-width: 925px) {
	.forecast h4.card-title {
		font-size: large;
	}
}
